/*
Codigo principal de aplicacion
*/

:root{
  --seashell: #fff7f3;
  --night-rider: #332e2e;
  --tea-green: #d9ffb6;
  --rojo: #ca3e45;
  --pink: #ffd3f3;
  --blanco: white;
  --gris: #303030;
  --gris-f: #757575;
  --negro: black;
  --tipo-titular: "Montserrat", sans-serif;
  --tipo-principal: "Roboto", sans-serif;
}

body{
  font-family: var(--tipo-principal);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--tipo-titular);
}

a{
  text-decoration: none;
  color:#2f2d2d;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--seashell);
}

.header__nav {
  display: none;
}

.list{
  display: flex;
  gap: 3rem;
}

.hb {
  width: 2rem;
  margin: 0 auto;
  display: block;
  stroke: #757575;
}

/*
@media screen and (min-width:968px){
  .header__mobile-icon {
    visibility: hidden;
  }
}
*/









